<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="card" style="width: 30rem;">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <img src="../../assets/img/Design for Ace Credit Card.jpg" class="card-img-top" alt="...">
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="card-body">
                  <h5 class="card-title">Get Unlimited Cashback</h5>
                  <p class="card-text">5% cashbackon billpayments & recharge on Google Pay", "4% cashback on Swiggy, Zomato & Ola</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-body">
                  <h5 class="card-title">Other Features</h5>
                  <p class="card-text">4 complimentary lounge access at select domestic airports", "1% fuel surcharge waiver</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6">
      <div class="card" style="width: 30rem;">
        <div class="accordion" id="accordionExample2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <img src="../../assets/img/M.png" class="card-img-top" alt="...">
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                <div class="card-body">
                  <h5 class="card-title">Special Service</h5>
                  <p class="card-text">Introducing Airport Concierge Services across 29 cities and unlimited demoestic lounge access</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Top Features</h5>
                  <p class="card-text">Complimentary flight ticket, up to 12 priority pass lounge access, 2% forex mark-up</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 30rem;">
        <div class="accordion" id="accordionExample3">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <img src="../../assets/img/Platinum Credit Card Design.jpg" class="card-img-top" alt="...">
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample3">
              <div class="accordion-body">
                <div class="card-body">
                  <h5 class="card-title">Special Service</h5>
                  <p class="card-text">A perfect card for mmovie lovers. Enjoy 25% cashback on movie tickets</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-body">
                  <h5 class="card-title">Top Features</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="width: 30rem;">
        <div class="accordion" id="accordionExample4">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <img src="../../assets/img/neo.png" class="card-img-top" alt="...">
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample4">
              <div class="accordion-body">
                <div class="card-body">
                  <h5 class="card-title">Activation Benefits</h5>
                  <p class="card-text">Amazon & Grofers gift voucher worth Rs 250 "],
                    "Edge rewards Points</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-body">
                  <h5 class="card-title">Top Features</h5>
                  <p class="card-text">1 point with every Rs. 200 Spent. Discounts on Zomato, Grofers, Myntra, BookMyShow etc</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


