<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12" *ngFor = "let card of cards">
      <div class="card" style="width: 30rem;">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <img *ngIf="card.salaryRange=='under 50k'"src="../../assets/img/Design for Ace Credit Card.jpg" class="card-img-top" alt="...">
                <img *ngIf="card.salaryRange=='50k to 1 lac'"src="../../assets/img/M.png" class="card-img-top" alt="...">
                <img *ngIf="card.salaryRange=='1lac to 2lac'"src="../../assets/img/Platinum Credit Card Design.jpg" class="card-img-top" alt="...">
                <img *ngIf="card.salaryRange=='above 2lac'"src="../../assets/img/neo.png" class="card-img-top" alt="...">
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="card-body">
                  <h5 class="card-title">Benefits</h5>
                  <p class="card-text">{{card.creditCardFeatures}}</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-body">
                  <h5 class="card-title">Top Features</h5>
                  <p class="card-text">{{card.creditCardOtherFeatures}}</p>
                  <!-- <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/apply/', card.creditCardName.toUpperCase()]" >Apply Now</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
