<!-- <mat-toolbar style="background-color: brown;">
    <span><a style="text-decoration: none; color: rgb(253, 253, 251);"routerLink="/">Global Bank</a></span>
    <div class="spacer"> </div>
    <!-- <a mat-button  routerLink="/">Home</a>&nbsp; -->
    <!-- <a mat-raised-button color="yellow" routerLink="mycard">Mycard</a>&nbsp; -->
    <!-- <a mat-raised-button color="yellow" routerLink="login">Logout</a>&nbsp; -->
    <!-- <a mat-raised-button color="accent" routerLink="register">Register</a> -->
<!-- </mat-toolbar> --> 


<p>Dashbord Works</p>