<div class="container back">
    <div class="row ">
        <div class="col-lg-5 col-sm-5 ">
            <h1 class="bank-text">Life is all about making interesting choices. 
                With a Global Bank Credit Card, they are all Beautiful Possibilities. 
                Ready For You.</h1>
        </div>
        <div class="col-lg-7 col-sm-7 bank-img">
            <img src="../../assets/img/bank2.jpg" class="img-responsive" alt="bank_img">  
        </div>
    </div>
</div>
<div class="container head-card">
    <h2>... Different Types Of Credit Cards ... </h2>
</div>

<app-card></app-card>
<app-footer></app-footer>