<div class="container-fluid login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Sign Up</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form #userForm="ngForm" (ngSubmit)="userForm.value">
            <small class="text-success ml-5" >{{msg}}</small>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                email
                [(ngModel)]="user.email"
                ngModel
                #email="ngModel">
                <mat-error *ngIf="email.errors?.required && email.touched">Email is required</mat-error>
                <mat-error *ngIf="email.errors?.email && email.touched">Email is invalid</mat-error>
              
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="User Name"
                required
                name="name"
                [(ngModel)]="user.name"
                ngModel
                #username="ngModel">
              
              <mat-error
                *ngIf="username.invalid">
                Username is required
              </mat-error>

            </mat-form-field>
            
            <div ngModelGroup="passwordGroup" mat-error="repassword.touched && !repassword.errors?.required && repassword.invalid"> 
            <mat-form-field>
              <input
                matInput
                (input)="repassword.control.updateValueAndValidity()"
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="password"
                [(ngModel)]="user.password"
                ngModel
                #password="ngModel">
                <mat-error
                  *ngIf="password.errors?.required">
                  Password is required
                </mat-error>
                <mat-error
                  *ngIf="password.errors?.minlength">
                  Password must be of length 6
                </mat-error>
              

            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                appConfirmEqualValidator="password"
                placeholder="Confirm Password"
                type="password"
                required
                minlength="6"
                name="repassword"
                ngModel="user.repassword"
                ngModel
                #repassword="ngModel">
                <mat-error
                  *ngIf="repassword.errors?.required">
                  Re-Enter Confirm Password is required
                </mat-error>
                <mat-error
                  *ngIf="!repassword.errors?.required && repassword.errors?.notEqual">
                  Password  and Confirm Password not Match
                </mat-error>
                
              
            </mat-form-field>
          </div>
            <button

            [disabled]="userForm.invalid"
              mat-raised-button
              color="primary"
              class="login-button"
              type="submit"
              (click)="registerNow()"
              >
              
              Sign Up
            </button>
            <!-- <p>{{user | json }}</p> -->
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
<app-footer></app-footer>