<div class="container-fluid login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Sign Up</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && registerNow()">
            <small [ngClass]=" status =='OK'?'text-success':'text-danger'" class="ml-5" >{{msg}}</small>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="username"
                email
                [(ngModel)]="user.username"
                ngModel
                #email="ngModel">
                <mat-error *ngIf="userForm.submitted && email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="userForm.submitted && email.errors?.email">Email is invalid</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                name="password"
                [(ngModel)]="user.password"
                ngModel
                #password="ngModel">
                <mat-error
                  *ngIf="userForm.submitted && password.errors?.required">
                  Password is required
                </mat-error>
                <!-- <mat-error
                  *ngIf="password.errors?.minlength">
                  Password must contain atleast 6 characters
                </mat-error> -->
              

            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                placeholder="Confirm Password"
                type="password"
                required
                name="repassword"
                pattern="{{user.password}}"
                ngModel="repassword"
                ngModel
                #cpass="ngModel">
                <mat-error
                  *ngIf="userForm.submitted && cpass.errors?.required">
                  Re-Enter Confirm Password is required
                </mat-error>
                <mat-error
                  *ngIf="userForm.submitted && cpass.errors?.pattern ">
                  Password  and Confirm Password not Match
                </mat-error>
                
              
            </mat-form-field>
          <!-- </div> -->
            <button
              mat-raised-button
              color="primary"
              class="login-button"
              type="submit"
              >
              Sign Up
            </button>
            <!-- <p>{{user | json }}</p> -->
            <p class="login-button">Already have account! please <a routerLink="/login" >Login</a></p>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
<app-footer></app-footer>
